










/* josh section style  */







/* utility classes */

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 100%;
    padding: 1em;
}

.flex-row {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* contact page classes  */

.input-pad {
    padding: 0.5em;
}



/* end of josh style section  */