@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
}

header {
  background-image: url(https://images.unsplash.com/photo-1603565816030-6b389eeb23cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 25px 95px;
}
.nav-menu-list li {
  list-style: none;
  display: inline;
  padding: 10px 20px;
}

.nav-menu-list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.nav-menu-list li a:hover {
  color: orange;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.btn {
  background-color: orange;
  text-decoration: none;
  color: white;
  padding: 8px 15px;
}

.heading-logo {
  color: white;
  font-weight: 700;
}

.book-form {
  height: 300px;
  width: 300px;
  background-color: white;
}
.book-block {
  height: 10%;
  width: 100%;
  background-color: #adb5bd;
  text-align: center;
}

.header-content {
  display: flex;
  position: absolute;
  top: 25%;
  left: 15%;
  align-items: flex-start;
}
.left-side {
  margin: 0 80px;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

.left-side {
  animation: moveInTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
/* josh section style  */

/* utility classes */

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  width: 100vw;
  padding: 1em;
}

.flex-row {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
  padding: 0.5em;
}


.black-txt {
  color: #000;
}
.center-text{
  text-align: center;
  padding: 0.5em;
}

.black-txt {
  color: #000;
}


/* contact page classes  */

.input-pad {
  padding: 0.5em;
}

/* end of josh style section  */

/* pat css*/

footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: rgb(31, 17, 17);
  line-height: 1.5;
}

.footer-desc {
  word-wrap: break-word;
  width: 200px;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: rgb(31, 17, 17);
}

a:hover {
  text-decoration: underline;
}

.ft-head {
  color: rgb(31, 17, 17);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.ft-main {
  padding: 1 rem 2 rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ft-main-item {
  padding: 1rem;
  min-width: 12rem;
}

/* end pat css*/

/* evans css */

/* ===== Customer Review Section ===== */

#review {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

/* #review > h2{
    position: absolute;
    top: 25px;
    
} */

.customer {
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-style: inset;
  background-color: lightblue;
}

.customer:hover {
  border-style: outset;
}

.customer > img {
  width: 100px;
  border-radius: 100%;
}

/* end */

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 75%;
  background-color: orange;
  color: white;
  padding: 15px 0;
  margin: 40px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  animation: moveInTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
